<%= render 'pages/nav' %>

<div class="wide">
  	<div class="col-xs-1"></div>
    <div class="col-xs-10 logo">
    	<div style="margin-top: 20%;">
    		<h1 class="custom-font">Working on a tight budget?</h1>
    		<h3 class="custom-font-2">No problem. We have plenty of turn-key solutions ready for you.</h3>
    		<br>
    		<%= link_to "Get Nerdy Now", '#', class: "btn btn-success btn-lg", style: "margin-top: 57px;" %>
    	</div>
    </div>
    <div class="col-xs-1"></div>
</div>


<section style="margin-top: 70px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="heavy-font">HOW WE WORK</h2>
				<hr>
			</div>
		</div><!-- end row -->
		<div class="row text-center">
			<div class="col-md-4">
				<h4><i class="fa fa-check" aria-hidden="true"></i> Choose Industry</h4>
				<p>Read through our industry docs carefuly, and pick one.</p>
			</div>
			<div class="col-md-4">
				<h4><i class="fa fa-check" aria-hidden="true"></i> Register</h4>
				<p>Register, pick a plan, upload your content, sit back and relax. We got this!</p>
			</div>
			<div class="col-md-4">
				<h4><i class="fa fa-check" aria-hidden="true"></i> Go Live!</h4>
				<p>In two weeks, you will have your custom solution up and running.</p>
			</div>
		</div><!-- end row -->
	</div>
</section>



<section style="margin-top: 170px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="heavy-font">OUR 100% WHITE LABEL SOLUTIONS</h2>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-4">
				<%= link_to delivery_business_path do %>
					<h3 class="heavy-font">DELIVERY BUSINESS</h3>
				<% end %>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
			<div class="col-md-4">
				<%= link_to social_media_manager_path do %>
					<h3 class="heavy-font">SOCIAL MEDIA MANAGER</h3>
				<% end %>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
			<div class="col-md-4">
				<%= link_to project_manager_path do %>
					<h3 class="heavy-font">PROJECT MANAGER</h3>
				<% end %>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
		</div><!-- end row -->
		<div class="row" style="margin-top: 30px;">
			<div class="col-md-4">
				<%= link_to niche_social_network_path do %>
					<h3 class="heavy-font">NICHE SOCIAL NETWORK</h3>
				<% end %>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
			<div class="col-md-4">
				<%= link_to e_learning_platform_path do %>
					<h3 class="heavy-font">E-LEARNING PLATFORM</h3>
				<% end %>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
			<div class="col-md-4">
				<%= link_to two_sided_marketplace_path do %>
					<h3 class="heavy-font">TWO SIDED MARKETPLACE</h3>
				<% end %>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
		</div><!-- end row -->
		<div class="row" style="margin-top: 30px;">
			<div class="col-md-4">
				<%= link_to crowdfunding_website_path do %>
					<h3 class="heavy-font">CROWDFUNDING WEBSITE</h3>
				<% end %>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
			<div class="col-md-4">
				<%= link_to online_dating_platform_path do %>
					<h3 class="heavy-font">ONLINE DATING PLATFORM</h3>
				<% end %>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
			<div class="col-md-4">
				<%= link_to business_directory_path do %>
					<h3 class="heavy-font">BUSINESS DIRECTORY</h3>
				<% end %>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
		</div><!-- end row -->
	</div>
</section>



<%= render 'pages/footer' %>