<%= render 'pages/nav' %>

<div class="wide">
  	<div class="col-xs-1"></div>
    <div class="col-xs-10 logo">
    	<div style="margin-top: 20%;">
    		<h1 class="custom-font">We Build Businesses</h1>
    		<h3 class="custom-font-2">You don't need to know technology. That's why you have us.</h3>
    		<br>
    		<%= link_to "Get Nerdy Now", '#', class: "btn btn-success btn-lg", style: "margin-top: 57px;" %>
    	</div>
    </div>
    <div class="col-xs-1"></div>
</div>


<section style="margin-top: 70px;">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2 class="heavy-font">WEB DESIGN</h2>
				<h4>We will build you a website that will grow your business.</h4>
			</div>
			<div class="col-md-4">
				<%= image_tag "http://dotcomweavers.wpengine.netdna-cdn.com/wp-content/themes/dcw/img/applicatin.png", class: "img-responsive" %>
			</div>
		</div><!-- end row -->
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "http://dotcomweavers.wpengine.netdna-cdn.com/wp-content/themes/dcw/img/tabs-right-img.png", class: "img-responsive" %>
			</div>
			<div class="col-md-8">
				<h2 class="heavy-font">ECOMMERCE</h2>
				<h4>eCommerce Strategy: From Cart to Conversion</h4>
			</div>
		</div>
	</div>
</section>

<%= render 'pages/footer' %>