<%= render 'pages/nav' %>



<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<%= image_tag(@post.bimage.large.url) %>

<p>
  <strong>Body:</strong>
  <%= raw(@post.body) %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
